html/mod01/filesystem_project/node_modules/*
html/mod01/node_modules/*
html/mod01/npm_project/node_modules/*
html/mod01/project_uploader/node_modules/*
html/mod01/filesystem_project/package*
html/mod01/npm_project/package*
html/mod01/package*
html/mod02_react/mod02task08/node_modules/*
html/mod02_react/mod02task08/package*
html/mod02_react/node_modules/*
html/mod02_react/package*
html/mod02/node_modules/*
html/mod02/mod02task08/node_modules/*
html/mod03/mod03task01/node_modules/*
html/mod03/mod03task01/package*
html/mod03/mod03task05/node_modules/*
html/mod03/mod03task05/package*
html/mod03/mod03task06/node_modules/*
html/mod03/mod03task06/package*
html/mod03/mod03task07/node_modules/*
html/mod03/mod03task08/node_modules/*
html/mod03/mod03task09/node_modules/*
html/mod04/mod04task01/node_modules/*
html/mod04/mod04task03/node_modules/*
html/mod04/mod04task04/node_modules/*
/.project
/.idea/vcs.xml
/html/mod01/node_modules/.bin/.gitignore

\.idea/

\.settings/


html/mod05/mod05task02/node_modules/
html/mod05/mod05task03/node_modules/
html/mod05/mod05task04/node_modules/